.modalBackground {
    width: 100vw;
    position: absolute;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.8);
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 99999;
}
  
.modalContainer {
    max-width: 500px;
    height: 250px;
    border-radius: 12px;
    background-color: var(--dcdark);
    color: white;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    font-family: var(--font1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 25px;
    z-index: 99999 !important;
}

input:focus {
    outline: none;
    border: 1px solid #7e1faa;
}

select:focus{
    outline: none;
    border: 1px solid #7e1faa;
}