.navbar{
    background-color: black;
    font-weight: bolder;
    display: flex;
    position: sticky;
    top:0px;
    z-index: 1000;
    font-size: larger;
    font-family: var(--font1);
    flex: 1;
    gap: 15px;
    align-items: center;
    flex-wrap: wrap;
    color: #ffffff;
}